.reporte-principal{
    border: 1px solid #000;
    grid: grid;
    place-items: center;
    padding: 2rem;
    overflow: auto;
}
.reporte-encabezado{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.reporte-encabezado .app{
    height: 100%;
    width: auto;    
}
.reporte-encabezado .flogo{
    height: 100%;
    width: auto;
}
.reporte-identificador{
    width: 100%;
    border-top: 4px solid #000;
    display: flex;
    justify-content: flex-end;    
    margin-bottom: 2rem;
}
.reporte-identificador .tarjeta{
    width: 100%;
    text-align: right;
}
.reporte-tabla{
    width: 100%;
    margin-top: 2rem;
    grid: grid;
    place-items: center;
    border: 1px solid #000;
}
thead .celda{    
    font-weight: bold;
    border: 1px solid #000;
    text-align: center;
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;
}
tbody .celda{    
    font-weight: bold;
    border: 1px solid #000;
    text-align: center;
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;
}
.celda-titulo{
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    text-align: center;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
}
.celda-sensor{
    font-weight: bold;
    border: 1px solid #000;
    border-bottom: none;
    text-align: center;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}
.celda-rango{
    border: 1px solid #000;
    border-top: none;
    text-align: center;
    padding: 0.0rem 0.8rem 0.2rem 0.8rem;
    font-size: 0.9rem;    
}
.celda-fecha{
    border: 1px solid #000;
    border-top: none;
    text-align: center;
    padding: 1.0rem 0.8rem 1.0rem 0.8rem;
    font-size: 0.9rem;    
}
.celda-data{
    border: 1px solid #000;
    text-align: center;
    padding: 0.2rem 0.3rem;
    font-size: 0.7rem;
}
.falla{
    background-color: #ffe7e7;
}

@media print {
    @page { 
        size: landscape; 
        margin: 1cm 1cm 1cm 1cm !important;
    }
    .reporte-principal{
        border: none;
    }
    html, body {
        padding: 1rem;
    }
    thead .celda{
        font-size: 0.8rem;
    }
    tbody .celda{
        font-size: 0.6rem;
    }
    .celda-sensor{
        font-size: 1rem;
    }
    .celda-fecha{
        font-size: 1rem;
    }
    .celda-rango{
        font-size: 1rem;
    }
    .celda-data{
        font-size: 0.6rem;
    }
}
  