:root {
    --blanco: #ffff;
    --gris: #cccc;
    --AzulTemplate: #303c54;
    --negro: rgb(0, 0, 0.5);
    --sombra: 3px 5px 2px 0px rgba(55, 46, 48, 0.17);
  
    --azulTemplate: #303C54;
    --azulTemplate2: #324364;
    
    --azul : #2C4FA2;
    --azul1: #2d2a8c;
    --azul2: #3854a6;
    --azul3: #3365a6;
    --azul4: #368abf;
    --azul5: #48b0d9;

    --gradiente: linear-gradient(90deg, rgba(58,87,180,1) 0%, rgba(38,107,201,1) 51%, rgba(69,202,252,1) 100%);
}


.nav-app .logo{
    height: 2rem;
    width: auto;
}
.nav-app{
    background: rgb(44,79,162);
    background: linear-gradient(0deg, var(--azul) 0%, var(--azul4) 100%);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.contenedor{
    margin-top: 0px;
    background-color: var(--gradiente) !important;
}
.contenedor-presentacion{
    background: rgba(2,0,36,0);
    background: var(--gradiente);
    border-color: transparent;
}

.descripcion p{
    margin-top: 2rem !important;
    font-size: 1rem !important;
    font-weight: lighter !important;
}

.btn-login{
    background-color: var(--azul);
    color: var(--blanco);
}

.btn-login:hover{
    color: var(--blanco);
    transform: scale(1.02);
}

.logoGradient{
    width: 100%;
    height: auto;    
    padding: 1rem;
}

.login{
    background-color: var(--blanco);
}